*.csv
*.png
SH_model/__pycache__
traning_log*.txt
runs/
runs_0228
runs_0312
runs_0301
runs_0312_lrsch
runs_0312_lrsch_best_val_lsd
runs_0314_lrsch_best_val_lsd
runs_0314_lrsch_best_val_lsd_std
runs_0314_lrsch_best_val_lsd_aa